<!-- Header START -->
<div class="header">
  <div class="header-container">
    <div class="nav-left">
        <div class="search-field">
            <input type="text" class="form-control" placeholder="Search Music Here.." (keydown.enter)="searchAlbum(searchvalue.value)" #searchvalue >
            <span class="search_icon" (click)="searchAlbum(searchvalue.value)">
                <i class="fas fa-search"></i>
</span>
        </div>
    </div>
      <!-- <div class="nav-right">
          <button class="login-btn">Login</button>
      </div> -->
  </div>
</div>
<!-- Header END -->